<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=60ded8fa-0ec4-444d-a46f-77139b2580c4&lang=ru_RU"></script>
</head>

<body>
<a href="/">Home</a>
<a href="/register">Registration</a>
<a href="/login">Login </a>
  {{{body}}}
</body>

</html>