<script defer src="/js/main.js"></script>
<div class="maps">
  <div class="container__form container__form-address">
    <div class="header__form">
      <h2>Enter addresses</h2>
    </div>
    <form name="routes" class="form">
      <div class="inputs_container">
        <div class="form-control">
          <input placeholder="Enter your start location" name="center" type="text" pattern=".{3,}" required
            title="3 characters minimum">
        </div>
        <div class="form-control">
          <input placeholder="Add address" name="address" type="text" pattern=".{3,}" required
            title="3 characters minimum">
        </div>
      </div>
      <button name="addMore">Add More Addresses</button>
      <button name="removeLast">Remove Last Addresses</button>
      <button type="submit" name="createRoute">Create route</button>
    </form>
  </div>

  <div class="container__form container__form-maps">
    <div id="YaMap"></div>
  </div>
</div>


