<script defer src="/js/main.js"></script>

<form class="form routes-form" name="routes">
  <div class="inputs_container">
    <input placeholder="Enter your start location" name="center" type="text">
    <input placeholder="Add address" name="address" type="text">
  </div>
  <button name="addMore">Add More Addresses</button>
  <button name="createRoute">Create route</button>
</form>

<div id="YaMap" style="width: 600px; height: 400px"></div>
