<script defer src="/js/main.js"></script>

<form name="routes">
  <label for="center"> Enter your location
    <input name="center" type="text">
  </label>
  <label for="address"> Add address
    <input name="address" type="text">
  </label>
  <button type="submit">Create route</button>
</form>

<div id="YaMap" style="width: 600px; height: 400px"></div>