<h1 class="title">Create Account</h1>
<form class="registration-form form" action="/register" method="post">
  <label> Username:
    <input type="text" name="username" placeholder="Your login" minlength="4">
  </label>
  <label> Password:
    <input type="password" name="password" placeholder="Your password" minlength="4">
  </label>
  <button type="submit">Register</button>
</form>
<h1 class="title">Or LogIn</h1>
<a href="/login">Login </a>


